/* Global */
html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 100%;
}
/* End of Global */

/* Navbar */
.navbar-default {
    background-color: #D9534F;
}

/* End of Navbar */

/* Form Logo */
.form-logo {
    text-align: center;
}
.form-logo i {
    font-size: 80px;
    color: #FFA500;
    cursor: default;
}
/* End of Form Logo */

/* Custom Form */
.form-custom {
    max-width: 500px;
    margin: 0 auto;
}
/* End of Custom Form */

/* Wrapper */
.wrapper {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 10px 50px 10px;
}

.wrapper .wrapper-body {
    display: table-cell;
    vertical-align: middle;
}

@media (min-width: 767px) {
.wrapper {
    height: 100%;
    padding: 0;
}
}
/* End of Wrapper */



